$hamburger-padding-x: 0;
$hamburger-padding-y: 5px;
$hamburger-layer-height: 2px;
$hamburger-layer-width: 30px;
$hamburger-hover-opacity: 1;
$hamburger-layer-color: #212529;

.hamburger {
  &:focus {
    outline: none;
  }
}
