.banner .navbar-nav li {
  @extend .nav-item;
}

.banner .navbar-nav a {
  @extend .nav-link;
  @extend .text-uppercase;
}

.admin-bar {
  .banner {
    &.fixed-top {
      top: 46px;
    }
  }
}

.navbar-brand {
  @extend .bg-primary;
  @extend .text-white;
  @extend .font-weight-bold;
  @extend .py-1;
  @extend .px-2;

  font-size: 0.875rem;

  > span {
    @extend .border-bottom;
    @extend .border-fluo;
  }
}

@media (min-width: 783px) {
  .admin-bar {
    .banner {
      &.fixed-top {
        top: 32px;
      }
    }
  }
}
