.front-page,
.archive {
  .post {
    header {
      .updated {
        font-size: 0.875rem;
      }

      .post-tag {
        font-size: 0.875rem;
      }

      .entry-title {
        font-size: 1.5rem;
      }
    }
  }
}

.single-post {
  .post {
    header {
      .entry-title {
        font-weight: 600;
        font-size: 2.75rem;
        line-height: 1.1;
      }
    }

    .entry-content {
      font-size: 1.25rem;
      line-height: 2rem;

      h2 {
        margin-bottom: 20px;
        margin-top: 35px;
      }

      strong {
        font-weight: 500;
      }

      .wp-block-embed__wrapper {
        @extend .embed-responsive;
        @extend .embed-responsive-16by9;

        iframe {
          @extend .embed-responsive-item;
        }
      }

      img {
        height: auto;
      }
    }
  }
}

@media (min-width: 992px) {
  .single-post {
    .post {
      header {
        .entry-title {
          font-size: 3.75rem;
        }
      }
    }
  }
}
