body {
  .sidebar {
    .sticky-top {
      top: 109px;
      z-index: 1019;

      section {
        margin-bottom: 40px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &.admin-bar {
    .sidebar {
      .sticky-top {
        top: 112px;
      }
    }
  }
}
